*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.textmain{
    font-size: 26px;
    letter-spacing: 6px;
    color: #fffdfd;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 20%;
}